# Theory Questions:

1: What are data structures, and why are they important?
  - Data Structure si a way of organizing and storing data so that it can be accessed and manipulated effeciently.
  - They improve the performance of ptograms and make data handling easier using built-in types like lists, dictionaries, sets and tuples.

2: Explain the difference between mutable and immutable data types with examples:
  - Mutable: objects can be changed after creation: list, dictionary, set.
  - Example:

    my_list = [1, 2, 3]  
    my_list[0] = 10  # List changed
  - Immutable: objects cannot be changed after creation: int, string, tuple.
  - Example:

    my_str = "hello"  
    my_str[0] = "H"  # Error: strings are immutable

3: What are the main differences between lists and tuples in Python?
  - List are mutable while tuples are immutable.
  - List use square brackets [] while tuples use circle brackets ()

4: Describe how dictionaries store data:
  - A dictionary stores data in the form of key-value pairs.
  - Each key is unique but values can be same.
  - Python dictionaries use curly brackets {} to stoer data and use colon : to saperate key-value pairs.

5: Why might you use a set instead of a list in Python?
  - A set is used instead of a list when you want to store unique values only and do not care about the order.
  - Sets also provide faster result checking 'in' compared to lists.

6: What is a string in Python, and how is it different from a list?
  - A string in Python is a sequence of characters enclosed in quotes or double quotes.
  - The main difference is that strings are immutable, while lists are mutable and can be modified.

7: How do tuples ensure data integrity in Python?
  - Tuples are immutable, meaning their elements cannot be changed after creation.
  - This immutability ensures that the data remains constant and secure, helping maintain data integrity when the values should not be modified accidentally.

8: What is a hash table, and how does it relate to dictionaries in Python?
  - A hash table is a data structure that stores data in key-value pairs using a hashing function to compute the index of each key.

9: Can lists contain different data types in Python?
  - Yes, List is hatroginus data in python.
  - Means the list can store any type of data types.

10: Explain why strings are immutable in Python?
  - Strings are immutable in Python to ensure security, consistency, and efficiency.
  - Once created, a string cannot be changed, which helps prevent accidental modification, allows safe sharing across programs.

11: What advantages do dictionaries offer over lists for certain tasks?
  - Dictionaries provide faster access to data using keys, while lists require searching by index or value.
  - They are ideal for tasks that need key-value mapping, like storing student records, where data lookup is more efficient than with lists.

12: Describe a scenario where using a tuple would be preferable over a list:
  - A tuple is preferable when you want to store fixed, unchangeable data.
  - For example, using a tuple to store the coordinates of a point (x, y) ensures the values remain constant and are not accidentally modified during program execution.

13: How do sets handle duplicate values in Python?
  - Sets in Python automatically remove duplicate values.
  - When you add duplicate items to a set, only one unique copy is stored, ensuring that all elements in a set are distinct.

14: How does the “in” keyword work differently for lists and dictionaries?
  - In a list, the "in" keyword checks if a value exists among the elements.
  - In a dictionary, the "in" keyword checks if a key exists (not the value).

15: Can you modify the elements of a tuple? Explain why or why not:
  - No, we can not modify the elemets of a tuple.
  - Tuples are immutable so that once declared, it can not be modified.

16: What is a nasted dictionary, and give an example of its use case:
  - A nested dictionary is a dictionary where the values are also dictionaries. It is used to organize complex data, such as storing details of multiple students or employees.
  - Example:
  students = {
    "101": {"name": "Diya", "age": 20},
    "102": {"name": "Raj", "age": 21},
}

17: Describe the time complexity of accessing elements in a dictionary:
  - -

18: In what situations are lists preferred over dictionary?
  - Lists are preferred when the order of elements matters or when you only need to store simple, sequential data without key-value mapping.
  - They are ideal for tasks like iterating over items, storing a collection of values, or accessing by index.

19: Why are dictionaries considered unordered, and how does that affect data retrieval?
  - Dictionaries are considered unordered because they do not store items in a fixed sequence like lists.
  - This means data is retrieved using keys, not by position, and the order of insertion is not guaranteed to affect how data is accessed.

20: Explain the difference between a list and a dictionary in terms of data retrieval:
  - In a list, data is retrieved using a numeric index, such as list[0].
  - In a dictionary, data is retrieved using a key, such as dict["name"].
  - Dictionaries allow faster lookup when you know the key, while lists require knowing the exact position.

# Practical Questions:

In [1]:
# 1: Write a code to create a string with your name and print it:
name = input("Enter your name: ")
print(f"Hello, {name}")

Enter your name: Diya
Hello, Diya

In [2]:
# 2: Write a code to find the length of the string "Hello World":
print(len("Hello World"))

11

In [3]:
# 3: Write a code to slice the first 3 characters from the string "Python Programming":
course = "Python Programming"
print(course[:3])

Pyt

In [4]:
# 4: Write a code to convert the string "hello" to uppercase:
text = "hello"
print(text.upper())

HELLO

In [5]:
# 5: Write a code to replace the word "apple" with "orange" in the string "I like apple":
text = "I like apple."
new_text = text.replace("apple", "orange")
print(new_text)

I like orange.

In [6]:
# 6: Write a code to create a list with numbers 1 to 5 and print it:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [7]:
# 7: Write a code to append the number 10 to the list [1, 2, 3, 4]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [8]:
# 8: Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]:
numbers =  [1, 2, 3, 4, 5]
numbers.remove(2)
print(numbers)

[1, 3, 4, 5]

In [9]:
# 9: Write a code to access the second element in the list ['a', 'b', 'c', 'd']:
lst = ['a', 'b', 'c', 'd']
print(f"Second Element: {lst[1]}")

Second Element: b

In [10]:
# 10: Write a code to reverse the list [10, 20, 30, 40, 50]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [11]:
# 11: Write a code to create a tuple with the elements 100, 200, 300 and print it:
num = (100, 200, 300)
print(num)

(100, 200, 300)

In [12]:
# 12: Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow'):
colors = ('red', 'green', 'blue', 'yellow')
print(colors[2:])

('blue', 'yellow')

In [13]:
# 13: Write a code to find the minimum number in the tuple (10, 20, 5, 15):
num = (10, 20, 5, 15)
print(min(num))

5

In [14]:
# 14: Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit'):
animal = ('dog', 'cat', 'rabbit')
print(animal.index('cat'))

1

In [15]:
# 15: Write a code to create a tuple containing three different fruits and check if "kiwi" is in it:
fruits = ("apple", "banana", "mango")
if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

In [16]:
# 16: Write a code to create a set with the elements 'a', 'b', 'c' and print it:
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'a', 'c'}

In [17]:
# 17: Write a code to clear all elements from the set {1, 2, 3, 4, 5}:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [18]:
# 18: Write a code to remove the element 4 from the set {1, 2, 3, 4}:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [19]:
# 19: Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1 | set2)

{1, 2, 3, 4, 5}

In [20]:
# 20: Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1 & set2)

{2, 3}

In [21]:
# 21: Write a code to create a dictionary with the keys "name", "age", and "city", and print it:
info = {"name": "Diya", "age": 20, "city": "Ahmedabad"}
print(info)

{'name': 'Diya', 'age': 20, 'city': 'Ahmedabad'}

In [22]:
# 22: Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}:
info =  {'name': 'John', 'age': 25}
info["country"] = "USA"
print(info)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
# 23: Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}:
info = {'name': 'Alice', 'age': 30}
print(info['name'])

Alice

In [24]:
# 24: Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}:
info = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del info['age']
print(info)

{'name': 'Bob', 'city': 'New York'}

In [25]:
# 25: Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}:
info =  {'name': 'Alice', 'city': 'Paris'}
if 'city' in info:
    print("Yes, there is city!")

Yes, there is city!

In [26]:
# 26: Write a code to create a list, a tuple, and a dictionary, and print them all:
numbers = [10, 20, 30, 40, 50]
num = (100, 200, 300)
info = {"name": "Diya", "age": 20, "city": "Ahmedabad"}
print(f"List: {numbers}\nSet: {num}\nDictionary: {info}")

List: [10, 20, 30, 40, 50]
Set: (100, 200, 300)
Dictionary: {'name': 'Diya', 'age': 20, 'city': 'Ahmedabad'}

In [27]:
# 27: Write a code to create a list of 5 random numbers between 1
numbers = [12, 77, 93, 60, 26]
numbers.sort()
print("Sorted random numbers:", numbers)

Sorted random numbers: [12, 26, 60, 77, 93]

In [28]:
# 28: Write a code to create a list with strings and print the element at the third index:
fruits = ["Orange", "Banana", "Mango", "Kiwi", "Cherry"]
print(fruits[3])

Kiwi

In [29]:
# 29: Write a code to combine two dictionaries into one and print the result:
dict1 = {"name": "Diya", "age": 20}
dict2 = {"city": "Ahmedabad", "college": "SNU"}
dict1.update(dict2)
print("Combined Dictionary:", dict1)

Combined Dictionary: {'name': 'Diya', 'age': 20, 'city': 'Ahmedabad', 'college': 'SNU'}

In [30]:
# 30: Write a code to convert a list of strings into a set:
fruits = ["Orange", "Banana", "Mango", "Kiwi", "Cherry"]
fruits_set = set(fruits)
print(fruits_set)

{'Orange', 'Mango', 'Cherry', 'Kiwi', 'Banana'}